@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Thin.woff) format('woff'),
         url(../fonts/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Light.woff) format('woff'),
         url(../fonts/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Regular.woff) format('woff'),
          url(../fonts/NotoSansKR-Regular.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Medium.woff) format('woff'),
          url(../fonts/NotoSansKR-Medium.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 700;
     src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Bold.woff) format('woff'),
          url(../fonts/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 900;
     src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Black.woff) format('woff'),
          url(../fonts/NotoSansKR-Black.otf) format('opentype');
   }


   @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Archivo-Light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Archivo-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Archivo-SemiBold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Archivo-Bold.woff2) format('woff2');
  }

.blind{
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);

}

html{min-width: 1440px;}
body{
    font-family: 'Archivo', 'Noto Sans KR';
    word-break: keep-all;
    transition: background-color .3s;
    overflow-x: hidden;
    
}
body.dark{
    background-color: #000;
}

@media (min-width: 750px) {
    .pc-none {
        display: none !important;
    }
}