body{

}

#container{

}

.intro{
    position: relative;
    height: 600vh;
}
.intro .sticky{
    position: sticky;
    top: 0;
    height: 100vh;
}

.intro .video{
    height: 100%;
    mix-blend-mode: multiply;
}
.intro .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro .desc-area{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: calc(var(--full-height, 100vh) * 1);
}
.intro .desc-area .text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    padding: 0 32px;
    font-size: 52px;
    line-height: 1.33;
    font-weight: 700;
    line-height: 1.35;
    color: #fff;
    white-space: nowrap;
    transform: translate(-50%,-50%);
    opacity: 0;
    
}

.intro .text:nth-child(4){
    font-size: 24px;
    line-height: 1.67;
}

.intro .down{
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateX(-50%);
    transition: opacity .5s;
}

/*2*/
.showcase{
    height: 700vh;
}
.dim{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    visibility: hidden;
    opacity: 0;
}
.showcase .content{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}
.showcase .item{
    position: relative;
    height: 100%;
}
.showcase .item img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: none;
    -o-object-fit: cover;
    object-fit: cover;
}

.showcase .intro{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    opacity: 0;
    z-index: 1;
}
.showcase .desc{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 600px;
    padding: 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.67;
    color: #fff;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 1;

}

/*3-1*/
body.dark .txt-lr-challenge{color: #fff;}


/*4*/
.sec-head-challenge{
    background-image: url('../img/challenge/prove.jpg');
    --x:0;
}
.sec-head-challenge h2 p:first-child span{
    transform:translateX(-172%);
}
.sec-head-challenge h2 p:nth-child(3) span{
    transform:translateX(134%);
}

/*5*/
.gallery .inner{
    display: flex;
}
.gallery .title{
    flex: 0 0 470px;
    max-width: 470px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;

    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 600;
    z-index: -1;
}
.gallery .content{
    flex: 0 0 calc(100% - 470px);
    max-width: calc(100% - 470px);
    padding: 100vh 0;
}
.gallery .item{
    max-width: 46.4%;
    font-size: 0;
}
.gallery .item:not(:last-child){margin-bottom: 186px;}
.gallery .item:nth-child(2n-1){margin-left: auto;}

.gallery .item strong{
    display: block;
    margin: 12px 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

/*6*/
.possibility{transition: color .5s;}

body.dark .possibility{color: #fff;}
.mslide .slide-square-list{
    margin: 0;
    padding: 0;
    display: flex;
}
.mslide .slide-square-list > li{
    width: 300px;
    flex-shrink: 0;
}
.mslide .slide-square-list > li:not(:last-child){margin-right: 75px;}
.mslide .square{
    display: block;
    border: 2px solid #fff;
    border-radius: 58px;
    background-color: #000;
    position: relative;
    width: 100%;
}
.mslide .square:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.mslide .square > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 54%;
}
.mslide .slide-square:not(:last-child) .square:after{
    content: "";
    display: block;
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border: 8px solid #fff;
    border-left: 0;
    border-bottom: 0;
}
.slide-square-list .title{
    margin-top: 24px;
    padding: 0 0 0 20px;
    font-size: 24px;
    line-height: 1.67;
    font-weight: 700;
}
.possibility .window{
    width: 100vw;
    flex-shrink: 0;
}
.possibility .graphic-group{
    position: relative;
    width: 506px;
    margin: 0 auto;
}

.possibility .graphic-group .item{
    position: absolute;
    text-align: center;
}
.possibility .graphic-group .item:first-child{
    top: 9%;
    width: 100%;
}
.possibility .graphic-group .item:nth-child(2), 
.possibility .graphic-group .item:nth-child(3){
    width: 33.5%;
    bottom: 26.3%;
}
.possibility .graphic-group .item:nth-child(3){
    left: inherit;
    right: 0;
}

.possibility .graphic-group .item dt{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.42;
}
.possibility .graphic-group .item dt dd{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.63;
}

.possibility .bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.1667vh;
    padding: 0 72px;
    margin-top: 8%;
}
.possibility .bottom .desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.63;
    color: hsla(0,0%,100%,.6);
}

/*7*/
.feature{
    position: relative;
    overflow: hidden;
}
.feature .content{
    display: flex;
    position: relative;
    height: 175px;
}
.feature .item{
    width: 33.33%;
    padding: 45px 0;
    text-align: center;
    color: #fff;
}

.feature .item:first-child{background-color: #e657af;}
.feature .item:nth-child(2){background-color: #0049ff;}
.feature .item:nth-child(3){background-color: #00bf41;}

.feature .blur{
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    height: calc(100% - 2px);
    width: 100%;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    outline: 1px solid #000;
    opacity: 0;
    transition: all .3s;
}
.feature .title{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 100px;
    transform: translateY(-50%);
    text-align: center;
    font-size: 36px;
    line-height: 1.25;
    font-weight: 700;
    font-weight: 600;
    color: #fff;
    opacity: calc((var(--progress-visible) - .52) / .15);
}

